# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

name: Rust

on:
  push:
    # When PR is in the Merge Queue, GitHub will create a temporary branch - but we already have a
    # CI running because of `merge_group`
    # See also: https://github.com/orgs/community/discussions/15254
    branches-ignore:
      - 'gh-readonly-queue/**'
  pull_request:
  merge_group:

permissions:
  contents: read

jobs:
  codestyle:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Rust Toolchain
        uses: ./.github/actions/setup-builder
      - run: cargo fmt --all -- --check

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Rust Toolchain
        uses: ./.github/actions/setup-builder
      - run: cargo clippy --all-targets --all-features -- -D warnings

  benchmark-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Rust Toolchain
        uses: ./.github/actions/setup-builder
      - run: cd sqlparser_bench && cargo clippy --all-targets --all-features -- -D warnings

  compile:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Rust Toolchain
        uses: ./.github/actions/setup-builder
      - run: cargo check --all-targets --all-features

  docs:
    runs-on: ubuntu-latest
    env:
      RUSTDOCFLAGS: "-Dwarnings"
    steps:
      - uses: actions/checkout@v4
      - name: Setup Rust Toolchain
        uses: ./.github/actions/setup-builder
      - run: cargo doc --document-private-items --no-deps --workspace --all-features

  compile-no-std:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Rust Toolchain
        uses: ./.github/actions/setup-builder
        with:
          targets: 'thumbv6m-none-eabi'
      - run: cargo check --no-default-features --target thumbv6m-none-eabi

  test:
    strategy:
      matrix:
        rust: [stable, beta, nightly]
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup Rust Toolchain
      uses: ./.github/actions/setup-builder
      with:
        rust-version: ${{ matrix.rust }}
    - uses: Swatinem/rust-cache@9d47c6ad4b02e050fd481d890b2ea34778fd09d6 # v2.7.8
    - name: Install Tarpaulin
      run: cargo install cargo-tarpaulin
    - name: Test
      run: cargo test --all-features
